apiVersion: v1
kind: Service
metadata:
  name: staging-node
  labels:
    service: staging-node
spec:
  selector:
    app: staging-node
  type: LoadBalancer
  sessionAffinity: None
  ports:
    - port: 80
      targetPort: 3000
      protocol: TCP
